@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

:root {
    --cyan-color: hsl(179, 62%, 43%);
    --bright-yellow-color: hsl(71, 73%, 54%);
    --light-gray-color: hsl(204, 43%, 93%);
    --grayish-blue-color: hsl(218, 22%, 67%);
}

body {
    width: 100%;
}

.flex {
    display: flex;
    display: -ms-flexbox;
}

.container {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    flex-direction: column;
    -ms-flex-direction: column;
    width: 700px;
    background: #fff;
    box-shadow: 0 0 10px 1px #f2f2f2;
    -webkit-box-shadow: 0 0 10px 1px #f2f2f2;
    border-radius: 10px;
}

.invite {
    padding: 3rem 2.5rem;
    flex: 1;
    -ms-flex: 1;
}

.invite, .details {
    height: 100%;
    width: 100%;
}

.invite .head {
    margin-bottom: 2rem;
}

.invite .head h1 {
    color: var(--cyan-color);
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

.invite .yellow {
    margin-bottom: 1rem;
    color: var(--bright-yellow-color);
    font-size: 20px;
}

.invite .gray {
    color: var(--grayish-blue-color);
}

.details {
    flex: 1;
    -ms-flex: 1;
    color: #ffffff;
}

.details .pricing {
    background: var(--cyan-color);
    padding: 3rem 2.5rem;
}

.details .reason {
    padding: 3rem 2.5rem;
    background: #4ABEBD;
}

.details .head {
    margin-bottom: 1.5rem;
}

.details .pricing .head h1,
.details .reason .head h1 {
    font-size: 20px;
    color: #fff;
}

.details .pricing, .details .reason {
    width: 50%;
}

.details .content h4 {
    color: var(--light-gray-color);
}